xgboost==3.3.0
scikit-learn==1.7.2
pandas==2.2.3
matplotlib==3.10.7
seaborn==0.13.2
ipywidgets==8.1.8
plotly==6.6.0
jupyterlab>=4.3,<5
notebook>=7,<8
tqdm>=4.66
transformers==4.53.3
cuda-toolkit==13.2.*
cudf-cu13==26.6.*
cuml-cu13==26.6.*
dask-cudf-cu13==26.6.*
dask-cuda==26.6.*
rapids-dask-dependency==26.6.*
cupy-cuda13x>=13.6.0,<14
